__pycache__/
*.py[cod]

.venv/

# Ignore data folder contents but not the folders themselves
data/raw_videos/*
data/frames/*
data/labels/train/*
data/labels/val/*
data/images/train/*
data/images/val/*
data/labels/*
runs/*
data/frames_hard

# Keep the .gitkeep placeholder files
!data/raw_videos/.gitkeep
!data/frames/.gitkeep
!data/labels/train/.gitkeep
!data/labels/val/.gitkeep
!data/images/train/.gitkeep
!data/images/val/.gitkeep